.wrapper__maine__contents__message{data:{message_id: "#{message.id}"}}
  .wrapper__maine__contents__message__info
    .wrapper__maine__contents__message__info__user
      = message.user.name
    .wrapper__maine__contents__message__info__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .wrapper__maine__contents__message__text
    - if message.content.present?
      %p.wrapper__maine__contents__message__text__content
        = message.content
    = image_tag message.image.url, class: "wrapper__maine__contents__message__text__image" if message.image.present?
