.wrapper
  .wrapper__side
    -# 左サイド、上、ユーザー名表示
    .wrapper__side__header
      .wrapper__side__header__box
        ユーザー名
        = link_to "", class: "wrapper__side__header__box__icon" do
          = fa_icon "cog"
        = link_to "", class: "wrapper__side__header__box__icon" do
          = fa_icon "edit",class: "wrapper__side__header__box__icon__edit"

    -# 左サイド、下、所属グループ一覧
    .wrapper__side__contents
      = render "group"

  .wrapper__maine
    -# メイン、上、グウープ名、所属メンバー表示
    .wrapper__maine__header
      .wrapper__maine__header__box
        .wrapper__maine__header__box__group-name
          グループ名
        .wrapper__maine__header__box__members-name
          Member : nishiwaki suzuki tanaka onishi
      .wrapper__maine__header__box2
        = link_to "", class: "wrapper__maine__header__box2__btn" do
          Edit

    -# メッセージ一覧
    .wrapper__maine__contents
      = render "message"

