.wrapper
  = render "shared/side_bar"

  .wrapper__maine
    -# メイン、上、グウープ名、所属メンバー表示
    .wrapper__maine__header
      .wrapper__maine__header__box
        .wrapper__maine__header__box__group-name
          グループ名
        .wrapper__maine__header__box__members-name
          Member : nishiwaki suzuki tanaka onishi
      .wrapper__maine__header__box2
        = link_to "", class: "wrapper__maine__header__box2__btn" do
          Edit

    -# メッセージ一覧
    .wrapper__maine__contents
      = render @messages

    -# メッセージフォーム
    .wrapper__maine__form
      = form_for [@group, @message] do |f|
        .wrapper__maine__form__input
          .wrapper__maine__form__input__box
            = f.text_field :content, class: "wrapper__maine__form__input__box__message", placeholder: "type a message"
            = f.label :image, class: "wrapper__maine__form__input__box__message__image" do
              = fa_icon "image", class: "wrapper__maine__form__input__box__message__image__icon"
              = f.file_field :image, class: "wrapper__maine__form__input__box__message__image__file"
          = f.submit "Send", class: "wrapper__maine__form__input__btn"